  *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}
.U4A_StackNaviCon {
  width: 100%;
  height: 100%;
}
.U4A_StackPage {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .7s, z-index .7s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index .7s;
  transition: transform .7s, opacity .7s, z-index .7s, -webkit-transform .7s;
  will-change: transform, opacity;
}
.U4A_StackPage.U4A_StackPageActive {
  z-index: 5;
  transition: opacity .7s, z-index 0s .7s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index 0s .7s;
  transition: transform .7s, opacity .7s, z-index 0s .7s, -webkit-transform .7s;
}
.U4A_StackPage.U4A_StackPageActive .U4A_StackPageHalf {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
}
.U4A_StackPage.U4A_StackPagePrev {
  opacity: 0 !important;
  visibility: visible !important;
  transition: opacity .7s, z-index 0s, -webkit-transform .7s;
  transition: transform .7s, opacity .7s, z-index 0s;
  transition: transform .7s, opacity .7s, z-index 0s, -webkit-transform .7s;
}
.U4A_StackPage.U4A_StackPageSmall {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.U4A_StackPage.U4A_StackPageSmall .U4A_StackPageHalf {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.U4A_StackPage:nth-child(n) .U4A_StackPageLeft {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.U4A_StackPage:nth-child(n) .U4A_StackPageRight {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.U4A_StackPageHalf {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: -webkit-transform .7s ease-in;
  transition: transform .7s ease-in;
  transition: transform .7s ease-in, -webkit-transform .7s ease-in;
  will-change: transform;
}
.U4A_StackPageHalf.U4A_StackPageLeft {
  left: 0;
}
.U4A_StackPageHalf.U4A_StackPageRight {
  left: 50%;
}

.U4A_StackConNaviPanel {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6), -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}
.U4A_StackConNaviPanel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
          transform: translateY(-50%) scale(0.5);
}
.U4A_StackConNaviPanel ul {
  list-style-type: none;
}
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color, -webkit-transform 0.3s;
  transition: border-color, transform 0.3s;
  transition: border-color, transform 0.3s, -webkit-transform 0.3s;
  will-change: border-color, transform;
}
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
          transform: translateX(-50%) translateY(-50%) scale(0.3);
/*   background-color: #fff; */
  opacity: 0;
  transition: opacity 0.3s, -webkit-transform;
  transition: transform, opacity 0.3s;
  transition: transform, opacity 0.3s, -webkit-transform;
  will-change: transform, opacity;
}
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn.U4A_StackPageActive:after, .U4A_StackConNaviPanel ul .U4A_StackConNaviBtn:hover:after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
          transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn:hover {
  /* border-color: yellow; */
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.U4A_StackConNaviPanel ul .U4A_StackConNaviBtn:hover:after {
  /* background-color: yellow; */
}
.U4A_StackConNaviPanel .U4A_StackNavConScollBtn {
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: border-color 0.3s;
}
.U4A_StackConNaviPanel .U4A_StackNavConScollBtn.U4A_StackNavUp {
  top: -1.2rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.U4A_StackConNaviPanel .U4A_StackNavConScollBtn.U4A_StackNavUp:hover {
	-webkit-transform: rotate(-45deg) scale(1.2);
          	transform: rotate(-45deg) scale(1.2);
	
}
.U4A_StackConNaviPanel .U4A_StackNavConScollBtn.U4A_StackNavDown {
	bottom: -1.2rem;
	-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
}

.U4A_StackConNaviPanel .U4A_StackNavConScollBtn.U4A_StackNavDown:hover {
	-webkit-transform: rotate(135deg) scale(1.2);
			transform: rotate(135deg) scale(1.2);
}

/* StackNavContainer Navigation Size */
.U4A_StackNavConSmallSize {
	width: 1rem;
    height: 1rem;
}
.U4A_StackNavConArrowSmallSize {
    border: 0.2rem solid;
    border-bottom: none;
    border-left: none;
}
.U4A_StackNavConCircleSmallSize {
	margin-top : 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.2rem solid;
}


.U4A_StackNavConMediumSize {
	width: 1.5rem;
    height: 1.5rem;
}
.U4A_StackNavConArrowMediumSize {
    border: 0.35rem solid;
    border-bottom: none;
    border-left: none;
}
.U4A_StackNavConCircleMediumSize {
	margin-top : 1rem;
    margin-bottom: 1rem;
    border: 0.35rem solid;
}


.U4A_StackNavConLargeSize {
	width: 2rem;
    height: 2rem;
}
.U4A_StackNavConArrowLargeSize {
    border: 0.5rem solid;
    border-bottom: none;
    border-left: none;
}
.U4A_StackNavConCircleLargeSize {
	margin-top : 1.5rem;
    margin-bottom: 1.5rem;
    border: 0.5rem solid;
}